<div class="container">
  <h1><%= @restaurant.name %></h1>

  <p>Address: <%= @restaurant.address %></p>
  <p>Category: <%= @restaurant.category.capitalize %></p>


  <h2>Reviews</h2>
  <ul class="list-group">
    <% @reviews.each do |review| %>
    <li class="list-group-item"><% review.rating.times do %>
      <i class="fas fa-star"></i>
      <% end %>
      <% (5 - review.rating).times do %>
      <i class="far fa-star"></i>
      <% end %>
      | <%= review.content %></li>
      <% end %>

    </ul>

    <hr>
    <button class="btn btn-primary" id="reviewbtn">Write Review</button>

    <div class="hidden" id="review">
    <h2>Write Review</h2>
    <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating %>
    <%= f.submit class:"btn btn-primary"%>
    <% end %>
    </div>
    <hr>

    <%= link_to "Back to Restaurant Overview", restaurants_path %>
  </div>

