<!DOCTYPE html>
<html>
<head>
  <title>RailsYelpMvp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>
  <script>
    const reviewButton = document.getElementById("reviewbtn")
    const review = document.getElementById("review")

    console.log(reviewButton)

    reviewButton.addEventListener("click", (event) => {
      review.classList.toggle("hidden")
      if (reviewButton.innerText === "Write Review") {
        reviewButton.innerText = "Hide Review"
      } else {
        reviewButton.innerText = "Write Review"
      };
    });
  </script>
</body>
</html>
